build --cxxopt "-std=c++17"
build --host_cxxopt "-std=c++17"

build:ciremotebuild --bes_results_url=https://app.buildbuddy.io/invocation/
build:ciremotebuild --bes_backend=grpcs://cloud.buildbuddy.io
build:ciremotebuild --remote_cache=grpcs://cloud.buildbuddy.io
build:ciremotebuild --remote_download_toplevel
build:ciremotebuild --tls_client_certificate=/root/.ssh/buildbuddy-cert.pem
build:ciremotebuild --tls_client_key=/root/.ssh/buildbuddy-key.pem
