set_param general.maxThreads {{THREADS}}
open_checkpoint {{CHECKPOINT_IN}}

place_design -directive {{PLACEMENT_DIRECTIVE}}
report_timing_summary -file {{TIMING_REPORT}}
report_utilization -file {{UTIL_REPORT}}
write_checkpoint -force {{CHECKPOINT_OUT}}
