set_param general.maxThreads {{THREADS}}
open_checkpoint {{CHECKPOINT_IN}}

set WNS [get_property SLACK [get_timing_paths -max_paths 1 -nworst 1 -setup]]
puts "Post Route WNS = $WNS"

if {$WNS >= 0} {
    write_bitstream -force {{BITSTREAM}}
    if {{{WRITE_XSA}}} {
        write_hw_platform -fixed -include_bit -force -file {{XSA_PATH}}
    }
} else {
    puts "Failed to make timing, refusing to make bitstream"
}
